# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Selenium
geckodriver.log
geckodriver.log.*
chromedriver.log
chromedriver.log.*

# Cucumber
*.feature.cache/
reports/

# TestNG
test-output/

# Visual Studio Code
.vscode/
